<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${WEB_RESOURCE.sysTitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="${WEB_RESOURCE.staticAddress}/css/common.css.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen"  id="theme_date">
    <!--[if lt IE 9]>
      <script src="${WEB_RESOURCE.staticAddress}/js/html5shiv.js${WEB_RESOURCE.staticVersion}"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		#parse("/common/control/header-login.vm")

		$screen_content

		#parse("/common/control/footer.vm")
    </div>
</body>
</html>
