<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#if($page_title) $page_title #else 齐家钱包 #end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="${WEB_RESOURCE.staticAddress}enterpriseWallet/css/plugin/jqueryui/jquery-ui-1.10.3.custom.css${WEB_RESOURCE.staticVersion}" rel="stylesheet" media="screen"  id="theme_date">
    <!--[if lt IE 9]>
      <script src="${WEB_RESOURCE.staticAddress}enterpriseWallet/js/html5shiv.js${WEB_RESOURCE.staticVersion}"></script>
    <![endif]-->
    <style>
        .safe_plugin{ display:none; position:relative; width:540px; height:250px;}
        .safe_plugin .safe_tit{ margin:10px 10px 20px 10px; padding-bottom:15px; font-family:"微软雅黑";  color:#333; font-size:18px; text-align:center; border-bottom:3px solid #ddd;}
        .safe_plugin p.p_txt{ padding-top:10px; text-align:center; font-size:14px;}
        .safe_plugin p.pd_top{ padding-top:40px;}
		/*底部*/
		.foot_in{ height:48px; background-color:#ebeef2;}
		.foot_in .foot_con{ position:relative; margin:0 auto; width:1000px; line-height:48px; color:#999;text-align:center;}
		.foot_in .foot_con a{ margin:0 5px; color:#999;}
		.foot_in .foot_con a:hover{ color:#a40000;}
		.foot_in .down_scroll{display:none; float:right; margin-top:-48px; width:150px; height:48px;  background-color:#d8dce3; cursor:pointer;}
		.foot_in .scroll_txt{ float:left; padding:6px 0 0 0; width:112px;height:32px; line-height:18px;  color:#4f5b5f;}
		.foot_in .down_scroll:hover{ background-color:#c8cfda;}
		.foot_in .scroll_d{ float:left; width:38px;height:48px; background:#c0c5d0;}
		.foot_in .scroll_d span{ display:block; margin:13px 0 0 7px; width:24px; height:24px; background:url(../image/index_icobg.png) -160px -99px no-repeat;}
		.foot_in .down_scroll.d_fixed{display:block; position:fixed; bottom:0; margin-left:1002px;*margin-left:505px;}
		.foot_in .lpd2{ letter-spacing:2px;}
    </style>
</head>
<body>
	<div class="container">
		#parse("/common/control/header-login.vm")

		$screen_content

		#parse("/common/control/footer.vm")
    </div>
</body>
</html>
