<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<context:annotation-config />
	<context:component-scan base-package="com.rency.shop.web" />
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:init.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="classpath:applicationContext-utils.xml" />
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver}"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/${db.name}?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="500"></property>
		<property name="defaultAutoCommit" value="true"></property>
	</bean>
	

	<!-- 免登录URL -->
	<bean id="unsecurityFilter" class="com.rency.shop.web.filter.UnSecurityFilter">
		<property name="urls">
			<list>
				<value>user!loginInput.do</value>
				<value>user!login.do</value>
				<value>index!error.do</value>
				<value>user!logout.do</value>
			</list>
		</property>
	</bean>
	
	<bean class="com.rency.shop.web.listener.ServletContextInitListener">
        <property name="webResource" ref="webResource" />
    </bean>

    <bean id="webResource" class="com.rency.shop.web.tools.WebDynamicResource">
        <property name="version" value="1.0.0"/>
        <property name="staticAddress" value="http://localhost:8080/shop" />
    </bean>

</beans>