<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<aop:aspectj-autoproxy />
    <context:annotation-config />
    <context:component-scan base-package="com.rency.shop.web" />
    
    <bean id="sessionFilter" class="com.rency.shop.web.filter.SessionFilter" />

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="true">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:init.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${db.driver}"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/${db.name}?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="30" />
		<property name="maxWait" value="500" />
		<property name="defaultAutoCommit" value="true" />
	</bean>
	
	<!-- 集成mybatis -->  
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
    	<property name="dataSource" ref="dataSource" />  
    	<property name="configLocation" value="classpath:mybatis.xml" />
    	<property name="mapperLocations" value="classpath*:sqlmap/**/*-Mapper.xml" />
    	<property name="typeAliasesPackage" value="com.rency.shop.web.entity" /> 
	</bean> 
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
       <property name="basePackage" value="com.rency.shop.web.dao" />
       <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
    </bean> 
	  
	<!-- 配置事务 -->  
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    	<property name="dataSource" ref="dataSource" />  
	</bean>  
	
	<bean class="com.rency.shop.web.listener.ServletContextInitListener">
        <property name="webResource" ref="webResource" />
    </bean>
    
    <!-- web资源属性配置 -->
    <bean id="webResource" class="com.rency.shop.web.WebDynamicResource">
        <property name="version" value="${version}"/>
        <property name="staticAddress" value="${staticAddress}" />
        <property name="sysTitle" value="${sysTitle}" />
    </bean>

	<!-- 免登录URL -->
	<bean id="freeUrls" class="com.rency.shop.web.entity.FreeURL">
		<property name="freeUrls">
			<list>
				<value>loginInput.htm</value>
				<value>login.htm</value>
				<value>captcha-image.htm</value>
				<value>regInput.htm</value>
				<value>reg.htm</value>
				<value>valid.htm</value>
			</list>
		</property>
	</bean>
	
	<!-- 用以生成验证码 -->
	<bean id="kaptchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.session.key">kaptcha</prop>
                        <prop key="kaptcha.border">no</prop>
                        <prop key="kaptcha.image.width">100</prop>
                        <prop key="kaptcha.image.height">28</prop>
                        <prop key="kaptcha.textproducer.char.string">0123456789</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.size">28</prop>
                        <!-- <prop key="kaptcha.border">yes</prop>
                        <prop key="kaptcha.border.color">blue</prop>
                        <prop key="kaptcha.border.thickness">1</prop> -->
                        <prop key="kaptcha.textproducer.font.names">Arial,Courier</prop>
                        <prop key="kaptcha.textproducer.font.color">blue</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>