<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.rency.shop.web.dao.UserDao">  
    <resultMap id="userMapper" type="User">  
        <id property="uuid" column="UUID" jdbcType="VARCHAR"/>  
        <result property="username" column="USERNAME" jdbcType="VARCHAR"/>  
        <result property="passwd" column="PASSWD" jdbcType="VARCHAR"/>  
        <result property="email" column="EMAIL" jdbcType="VARCHAR"/>  
        <result property="mobile" column="MOBILE" jdbcType="VARCHAR"/>
        <result property="userType" column="USERTYPE" jdbcType="BIGINT"/>
        <result property="userStatus" column="USERSTATUS" typeHandler="com.rency.shop.web.enums.UserStatusTypeHandler" />
        <result property="currLogin" column="CURRLOGIN" jdbcType="TIMESTAMP"/>
        <result property="lastLogin" column="LASTLOGIN" jdbcType="TIMESTAMP"/>    
        <result property="createDate" column="CREATEDATE" jdbcType="TIMESTAMP"/>  
        <result property="updateDate" column="UPDATEDATE" jdbcType="TIMESTAMP"/>    
        <result property="extention" column="EXTENTION" jdbcType="VARCHAR"/>
    </resultMap>  
    
    <select id="get" parameterType="String" resultMap="userMapper">  
        select * from t_user where uuid=#{uuid}
    </select>
    
    <select id="findByEmail" parameterType="String" resultMap="userMapper">
    	select * from t_user where EMAIL=#{email}
    </select>
     
    <insert id="insert" parameterType="User">  
        INSERT INTO t_user(UUID,USERNAME,PASSWD,EMAIL,MOBILE,USERTYPE,USERSTATUS,CUURLOGIN,LASTLOGIN,CREATEDATE,UPDATEDATE,EXTENSION)
		VALUES (#{UUID},#{USERNAME},#{PASSWD},#{EMAIL},#{MOBILE},#{USERTYPE},#{USERSTATUS},#{CUURLOGIN},#{LASTLOGIN},#{CREATEDATE},#{UPDATEDATE},#{EXTENSION});
    </insert>  
    
    <update id="update">
    	
    </update>
    
    <delete id="delete">
    
    </delete>
    
    <delete id="deleteById" parameterType="String">
    	DELETE FROM t_user WHERE uuid=#{uuid}
    </delete>
      
</mapper>