<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#if($page_title) $page_title - ${WEB_RESOURCE.sysTitle} #else ${WEB_RESOURCE.sysTitle} #end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="${WEB_RESOURCE.staticAddress}/css/bootstrap/bootstrap.min.css?${WEB_RESOURCE.version}" rel="stylesheet" media="screen"  id="theme_date">
    <link href="${WEB_RESOURCE.staticAddress}/css/bootstrap/bootstrap-theme.min.css?${WEB_RESOURCE.version}" rel="stylesheet" media="screen"  id="theme_date">
    <link href="${WEB_RESOURCE.staticAddress}/css/common.css?${WEB_RESOURCE.version}" rel="stylesheet" media="screen"  id="theme_date">
    <script src="${WEB_RESOURCE.staticAddress}/script/jquery-2.1.4.min.js?${WEB_RESOURCE.version}"></script>
    <!--[if lt IE 9]>
      <script src="${WEB_RESOURCE.staticAddress}/js/html5shiv.js?${WEB_RESOURCE.version}"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		#parse("/common/control/header.vm")
		$screen_content

		#parse("/common/control/footer.vm")
    </div>
</body>
</html>
